---
layout: workshop      # DON'T CHANGE THIS.
root: .               # DON'T CHANGE THIS EITHER.  (THANK YOU.)
carpentry: "dc"       # what kind of Carpentry (must be either "lc" or "dc" or "swc")
venue: "Training on Shell Scripting, GitHub-Based Version Control, and Quarto Reproducible Workflows"
address: "Ethiopian Public Health Institutes"
country: "et"
language: "en"
latlng: "9.04784, 38.7306003"
humandate: "March 01-05, 2026"
humantime: "9:00 am - 5:00 pm"
startdate: 2026-03-01     # Fixed: should match humandate
enddate: 2026-03-05       # Fixed: should match humandate
instructor: ["Dr. Mesfin Diro", "Leykun Getanheh"]  # Fixed: added missing quote
helper: [""]
contact: ["mesfindiro@gmail.com"]
collaborative_notes: http://pad.software-carpentry.org/2026-03-05-ephi
eventbrite:           # optional: alphanumeric key for Eventbrite registration
---

<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->

{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2 id="general">General Information</h2>

{% if page.carpentry == "swc" %}
  {% include sc/intro.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/intro.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/intro.html %}
{% endif %}

{% if page.carpentry == "swc" %}
  {% include sc/who.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/who.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/who.html %}
{% endif %}

{% if page.latlng %}
<p id="where">
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

{% if page.humandate %}
<p id="when">
  <strong>When:</strong>
  {{page.humandate}}.
  {% include workshop_calendar.html %}
</p>
{% endif %}

<p id="requirements">
  <strong>Requirements:</strong> Participants must bring a laptop with a
  Mac, Linux, or Windows operating system (not a tablet, Chromebook, etc.) that they have administrative privileges
  on. They should have a few specific software packages installed (listed
  <a href="#setup">below</a>). 
</p>

<p id="contact">
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    {% for contact in page.contact %}
      {% if forloop.last and page.contact.size > 1 %}
        or
      {% else %}
        {% unless forloop.first %}
        ,
        {% endunless %}
      {% endif %}
      <a href='mailto:{{contact}}'>{{contact}}</a>
    {% endfor %}
  {% else %}
    to-be-announced
  {% endif %}
  for more information.
</p>

<hr/>

<h2 id="schedule">Schedule</h2>

{% if page.carpentry == "swc" %}
  {% include sc/schedule.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/schedule.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/schedule.html %}
{% endif %}

{% if page.collaborative_notes %}
<p id="collaborative_notes">
  We will use this <a href="{{page.collaborative_notes}}">collaborative document</a> for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2 id="syllabus">Syllabus</h2>

{% if page.carpentry == "swc" %}
  {% include sc/syllabus.html %}
{% elsif page.carpentry == "dc" %}
  {% include dc/syllabus.html %}
{% elsif page.carpentry == "lc" %}
  {% include lc/syllabus.html %}  <!-- Fixed: changed syllabys to syllabus -->
{% endif %}

<hr/>

<p>
  <strong>Requirements:</strong>
  The training is hands-on, so participants are encouraged to bring in and use their own laptops to insure the proper setup of tools for an efficient workflow once you leave the workshop. (We will provide instructions on setting up the required software several days in advance)
  <em>There are no pre-requisites, and we will assume no prior knowledge about the tools.</em> 
</p>

<h2 id="setup">Software Setup</h2>

<p>
  To participate in this training workshop, you will need working copies of the software described below. Please make sure to install everything and try opening it to make sure it works <em>before</em> the start of your workshop. If you run into any problems, please feel free to email the instructor or arrive early to your workshop on the first day.
</p>

<p>
  We maintain a list of common issues that occur during installation as a reference for instructors that may be useful on the
  <a href="https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<!-- Shell Setup -->
<div id="shell">
  <h3>The Unix Shell (Bash)</h3>
  <p>
    Bash is a commonly-used shell that gives you the power to do simple tasks more quickly.
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
        Install <a href="https://gitforwindows.org/">Git for Windows</a> which includes Git Bash, 
        a terminal that provides a Bash shell on Windows.
      </p>
      <ol>
        <li>Download the Git for Windows <a href="https://gitforwindows.org/">installer</a>.</li>
        <li>Run the installer and follow the steps below:
          <ul>
            <li>Click on "Next" four times (two times if you've previously installed Git). You don't need to change anything in the Information, location, components, and start menu screens.</li>
            <li>From the dropdown menu select "Use the Nano editor by default" and click on "Next".</li>
            <li>On the page that says "Adjusting the name of the initial branch in new repositories", ensure that "Let Git decide" is selected. This will ensure the highest level of compatibility for our lessons.</li>
            <li>Ensure that "Git from the command line and also from 3rd-party software" is selected and click on "Next". (If you don't do this Git Bash will not work properly, requiring you to remove the Git Bash installation, re-run the installer and to select the "Git from the command line and also from 3rd-party software" option.)</li>
            <li>Ensure that "Use the native Windows Secure Channel library" is selected and click on "Next".</li>
            <li>Ensure that "Checkout Windows-style, commit Unix-style line endings" is selected and click on "Next".</li>
            <li>Ensure that "Use Windows' default console window" is selected and click on "Next".</li>
            <li>Ensure that "Enable file system caching" and "Enable Git Credential Manager" are selected and click on "Next".</li>
            <li>Click "Install".</li>
          </ul>
        </li>
        <li>If your "HOME" environment variable is not set (or you don't know what this is):
          <ul>
            <li>Open command prompt (Open Start Menu then type <code>cmd</code> and press Enter)</li>
            <li>Type the following line into the command prompt window exactly as shown: <code>setx HOME "%USERPROFILE%"</code></li>
            <li>Press Enter, you should see <code>SUCCESS: Specified value was saved.</code></li>
            <li>Quit command prompt by typing <code>exit</code> then pressing Enter</li>
          </ul>
        </li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of macOS is Bash, so no need to install anything. 
        You access Bash from the Terminal (found in <code>/Applications/Utilities</code>).
      </p>
      <p>
        See the <a href="https://swcarpentry.github.io/shell-novice/setup.html">installation instructions</a> for the Bash shell to learn how to open Terminal.
      </p>
    </div>
    
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your machine is set up differently you can run it by opening a terminal and typing <code>bash</code>. 
        There is no need to install anything.
      </p>
    </div>
  </div>
</div>

<!-- Git Setup -->
<div id="git">
  <h3>Git</h3>
  <p>
    Git is a version control system that lets you track who made changes to what when and has options for easily updating a shared or public version of your code on <a href="https://github.com/">GitHub</a>.
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <h4 id="git-windows">Windows</h4>
      <p>
        Git should be installed on your computer as part of your Bash installation (see above).
      </p>
      <p>
        To check if Git is installed, open Git Bash and type:
        <pre><code>git --version</code></pre>
      </p>
    </div>
    
    <div class="col-md-4">
      <h4 id="git-macosx">Mac OS X</h4>
      <p>
        <strong>For macOS 10.15 and above</strong>, install Git for Mac by downloading and running the most recent installer for "maOS" from the <a href="https://git-scm.com/download/mac">Git downloads page</a>.
      </p>
      <p>
        After installing Git, there will not be anything in your <code>/Applications</code> folder, as Git is a command line program.
      </p>
    </div>
    
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        If Git is not already available on your machine you can try to install it via your distro's package manager. For Debian/Ubuntu run:
        <pre><code>sudo apt-get install git</code></pre>
        For Fedora run:
        <pre><code>sudo dnf install git</code></pre>
      </p>
    </div>
  </div>
</div>

<!-- GitHub Account -->
<div id="github">
  <h3>GitHub Account</h3>
  <p>
    Create an account on <a href="https://github.com/">GitHub.com</a> if you don't already have one. 
    The free account is sufficient for this workshop.
  </p>
</div>

<!-- Quarto Setup -->
<div id="quarto">
  <h3>Quarto</h3>
  <p>
    Quarto is an open-source scientific and technical publishing system built on Pandoc, and allows users to create dynamic content with Python, R, Julia, and Observable.
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <h4 id="quarto-windows">Windows</h4>
      <ol>
        <li>Download Quarto from <a href="https://quarto.org/docs/download/">https://quarto.org/docs/download/</a></li>
        <li>Select Windows from the listed Platform</li>
        <li>Run the .exe file that was just downloaded</li>
        <li>Verify installation by opening Command Prompt and typing: <code>quarto --version</code></li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="quarto-macosx">Mac OS X</h4>
      <ol>
        <li>Download Quarto from <a href="https://quarto.org/docs/download/">https://quarto.org/docs/download/</a></li>
        <li>Select macOS from the listed Platform</li>
        <li>Run the .pkg file that was just downloaded</li>
        <li>Verify installation by opening Terminal and typing: <code>quarto --version</code></li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="quarto-linux">Linux</h4>
      <ol>
        <li>Download Quarto from <a href="https://quarto.org/docs/download/">https://quarto.org/docs/download/</a></li>
        <li>Select Ubuntu/Debian or your Linux distribution</li>
        <li>For Ubuntu/Debian, download the .deb file and install with:
          <pre><code>sudo dpkg -i quarto-*-linux-amd64.deb</code></pre>
        </li>
        <li>Verify installation by typing: <code>quarto --version</code></li>
      </ol>
    </div>
  </div>
</div>

<!-- Text Editor -->
<div id="editor">
  <h3>Text Editor</h3>
  <p>
    When you're writing code, it's nice to have a text editor that is optimized for writing code, with features like automatic color-coding of key words. 
    We recommend:
  </p>
  <ul>
    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a> (free, all platforms)</li>
    <li><a href="https://www.sublimetext.com/">Sublime Text</a> (free evaluation, all platforms)</li>
    <li><a href="https://atom.io/">Atom</a> (free, all platforms)</li>
    <li><a href="https://www.gnu.org/software/emacs/">Emacs</a> (free, all platforms)</li>
    <li><a href="https://www.vim.org/">Vim</a> (free, all platforms)</li>
    <li><a href="https://www.nano-editor.org/">Nano</a> (free, all platforms)</li>
  </ul>
</div>

<!-- Optional: Python Setup (if needed for Quarto) -->
<div id="python">
  <h3>Python (Optional but Recommended)</h3>
  <p>
    While Quarto works with multiple languages, having Python installed is recommended for data analysis examples.
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <h4 id="python-windows">Windows</h4>
      <ol>
        <li>Open <a href="https://www.anaconda.com/products/individual">https://www.anaconda.com/products/individual</a> with your web browser.</li>
        <li>Download the Python 3 installer for Windows.</li>
        <li>Install Python 3 using all of the defaults for installation.</li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="python-macosx">Mac OS X</h4>
      <ol>
        <li>Open <a href="https://www.anaconda.com/products/individual">https://www.anaconda.com/products/individual</a> with your web browser.</li>
        <li>Download the Python 3 installer for macOS.</li>
        <li>Install Python 3 using all of the defaults for installation.</li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="python-linux">Linux</h4>
      <ol>
        <li>Open <a href="https://www.anaconda.com/products/individual">https://www.anaconda.com/products/individual</a> with your web browser.</li>
        <li>Download the Python 3 installer for Linux.</li>
        <li>Install Python 3 using all of the defaults for installation.</li>
      </ol>
    </div>
  </div>
</div>

<!-- Optional: R Setup (if needed for Quarto) -->
<div id="r">
  <h3>R and RStudio (Optional but Recommended)</h3>
  <p>
    R is a programming language that is especially powerful for data exploration, visualization, and statistical analysis.
  </p>
  
  <div class="row">
    <div class="col-md-4">
      <h4 id="r-windows">Windows</h4>
      <ol>
        <li>Install R from <a href="https://cran.r-project.org/bin/windows/base/">CRAN</a></li>
        <li>Install RStudio from <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio website</a></li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="r-macosx">Mac OS X</h4>
      <ol>
        <li>Install R from <a href="https://cran.r-project.org/bin/macosx/">CRAN</a></li>
        <li>Install RStudio from <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio website</a></li>
      </ol>
    </div>
    
    <div class="col-md-4">
      <h4 id="r-linux">Linux</h4>
      <ol>
        <li>Install R using your distribution's package manager (e.g., <code>sudo apt-get install r-base</code> for Ubuntu)</li>
        <li>Install RStudio from <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio website</a></li>
      </ol>
    </div>
  </div>
</div>

<!-- Testing Installation -->
<div id="testing">
  <h3>Testing Your Installation</h3>
  <p>
    After installing all the software, please test your setup by:
  </p>
  <ol>
    <li>Opening your terminal/shell and typing: <code>quarto --version</code> (should display version number)</li>
    <li>Typing: <code>git --version</code> (should display version number)</li>
    <li>Creating a test Quarto document and rendering it:
      <pre><code>echo '---
title: "Test"
format: html
---

# Hello Quarto!

Test successful!' > test.qmd
quarto render test.qmd</code></pre>
    </li>
  </ol>
</div>

<!--
<div id="vm">
  <h3>Virtual Machine</h3>
  <p>
    Some instructors prefer to have learners use a virtual machine (VM)
    rather than install software on their own computers.  If your
    instructors have chosen to do this, please:
  </p>
  <ol>
    <li>
      Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
    </li>
    <li>
      Download our <a href="{{site.swc_vm}}">VM image</a>.
      <strong>Warning:</strong> this file is 1.7 GByte, so please
      download it <em>before</em> coming to your workshop.
    </li>
    <li>
      Load the VM into VirtualBox by selecting "Import Appliance" and
      loading the <code>.ova</code> file.
    </li>
  </ol>
</div>
-->
